.appLeftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  left: 100px;
  transform: translate(-50%);
}

.appLeftItem {
  width: 3vw;
  min-width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appLeftItem:hover {
  cursor: pointer;
}

.appLeftItemIcon {
  width: 2.9vw;
  min-width: 45px;
}

.appLeftItemIcon:hover {
  width: 3.1vw;
  min-width: 50px;
}
