.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-bottom: 200px;
}

.appLeft {
  flex: 15;
  height: 100%;
  max-width: 200px;
}

.appMain {
  flex: 70;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appRight {
  max-width: 200px;
  flex: 15;
}

.appMainTitleContainer {
  margin-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appMainTitle {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 8vw;
  margin-bottom: 20px;
}

.appMainText {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 2.42vw;
}

.appMainAboutMe {
  margin-top: 60vh;

  text-align: center;
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 1.8vw;
}

.appMainProjectContainer {
  width: 100%;
  max-width: 1020px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20vh;
}

.appMainProjectItem {
  width: 100%;
}
