.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-bottom: 200px;
}

.appLeft {
  flex: 15;
  height: 100%;
  max-width: 200px;
  position: relative;
}

.appMain {
  flex: 70;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appRight {
  flex: 15;
  max-width: 200px;
  position: relative;
}

.appMainTitleContainer {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appMainTitleContainer div {
  position: relative;
  overflow: hidden;
  display: block;
}

.appMainTitleContainer div::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color-text-main);
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.appMainTitleContainer div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color-text-second);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.appMainTitleContainer div:nth-of-type(1)::before,
.appMainTitleContainer div:nth-of-type(1)::after {
  animation-delay: 0.25s;
}

.appMainTitleContainer div:nth-of-type(2)::before,
.appMainTitleContainer div:nth-of-type(2)::after {
  animation-delay: 0.5s;
}

.appMainTitle {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 12vw;
  margin-bottom: 20px;
  font-family: 'Caramel', cursive;
  cursor: none;
  padding: 0 50px;
  white-space: nowrap;
}

.appMainText {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 2.42vw;
  cursor: none;
  padding: 0 20px;
  text-align: center;
}

.appMainAboutMe {
  margin-top: 80vh;
  cursor: none;
  position: relative;
}

.appMainAboutMeText {
  text-align: center;
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 1.8vw;
  z-index: 1;
  cursor: none;
}

.appMainAboutMeMobileTitle {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: 900;
  z-index: -2;
  color: var(--color-text-main);
  opacity: 0.5;
  white-space: nowrap;
  display: none;
}

.appMainSkill {
  margin-top: 80vh;
  display: grid;
  width: 95%;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

.appMainSkillMobileTitle {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: 900;
  z-index: -2;
  color: var(--color-text-main);
  opacity: 0.5;
  white-space: nowrap;
  display: none;
}
.appMainSkillList {
  position: relative;
}

.appMainSkillListTitle {
  font-size: 1.5vw;
  font-weight: 600;
  color: var(--color-text-main);
  margin-bottom: 45px;
  cursor: none;
}

.appMainSkillListItem {
  margin-bottom: 40px;
  font-size: 1.2vw;
  font-weight: 400;
  color: var(--color-text-main);
  max-width: 200px;
  cursor: none;
}

.appMainSkillListItem:hover,
.appMainSkillListTitle:hover {
  filter: blur(4px);
}

.appMainProjectContainer {
  width: 100%;
  max-width: 1020px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 80vh;
  position: relative;
}

.appMainProjectItem {
  width: 100%;
  box-shadow: 4px 7px 30px 5px rgba(87, 52, 52, 0.25);
  cursor: pointer;
}

.anim {
  background-color: red;
  width: 100px;
}

@media only screen and (max-width: 1450px) {
  .appMainSkill {
    grid-template-columns: repeat(2, 1fr);
  }
  .appMainSkillList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .appMainSkillListMobile {
    grid-column: 1/ 3;
  }
  .appMainSkillListItem {
    text-align: center;
  }
}
@media only screen and (max-width: 1300px) {
  .appMainSkillListTitle {
    font-size: 2.2vw;
  }

  .appMainSkillListItem {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 1000px) {
  .appLeft,
  .appRight {
    display: none;
  }
  .appMainProjectContainer {
    width: calc(100% - 40px);
  }

  .appMainAboutMeMobileTitle,
  .appMainSkillMobileTitle {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .appMainTitle {
    font-size: 18vw;
  }

  .appMainText {
    font-size: 20px;
  }

  .appMainAboutMeText {
    font-weight: 500;
    font-size: 20px;
    padding: 0 20px;
  }
  .appMainAboutMeText:hover {
    font-size: 20px;
  }

  .appMainSkillListTitle {
    font-size: 24px;
  }

  .appMainSkillListItem {
    font-size: 20px;
  }

  .appMainAboutMe,
  .appMainSkill,
  .appMainProjectContainer {
    margin-top: 60vh;
  }
}

@media only screen and (max-width: 700px) {
  .appMainSkillListTitle {
    font-size: 22px;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .appMainSkillMobileTitle,
  .appMainAboutMeMobileTitle {
    font-size: 48px;
  }
}

@media only screen and (max-width: 450px) {
  .appMainProjectContainer {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 350px) {
  .appMainSkillMobileTitle,
  .appMainAboutMeMobileTitle {
    font-size: 36px;
  }
}
