:root {
  /*COLOR*/
  --color-background: red;
  --color-navbar: rgb(255, 255, 255);

  --color-main: #3aafa9;
  --color-main-second: red;
  --color-white: #ffffff;
  --color-box: red;

  --color-text-main: #333;
  --color-text-second: #3aafa9;
  --color-text-title: #111;

  /*SIZE*/
  ---main-padding: 0px;

  ---border-radius: 0px;
  ---border-radius-button: 0px;
  ---border-radius-small: 0px;

  ---navbar-height: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  align-items: center;
}

.red {
  background-color: red;
}

.componentFirst {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.componentSecond {
  width: 100%;
  max-width: 1450px;
  display: flex;
  margin: 0 50px;
}

.ScrollToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ScrollToTopSVG {
  padding: 10px;
  transform: rotate(-90deg);
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.ScrollToTop:hover .ScrollToTopSVG {
  transform: translateY(-5px) rotate(-90deg);
}

@media only screen and (max-width: 620px) {
  .componentSecond {
    margin: 0 25px;
  }
}

@media only screen and (max-width: 450px) {
  .ScrollToTop {
    bottom: 5px;
    right: 5px;
  }
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
