.appRightContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.appRightText {
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 600;
  letter-spacing: 0.075em;
  font-size: 8.5vh;
  color: var(--color-text-second);
}
