.appRightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  position: fixed;
  right: 100px;
  transform: translate(50%);
}

.appRightText {
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 600;
  letter-spacing: 0.075em;
  font-size: 8.5vh;
  color: var(--color-text-second);
}

@media only screen and (max-width: 1300px) {
  .appRightContainer {
    right: 75px;
  }
}
